# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml
*/*.iml
.DS_Store

## Directory-based project format:
.idea/
LOG_PATH_IS_UNDEFINED/

target/
*/target/

*/.settings
logs/
*/logs
.classpath
.project
build.properties
*.class
classes/
.settings/org.eclipse.core.resources.prefs
ant.properties



ant/mvn.sh

*.prefs
/.settings/